<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
      document.addEventListener("DOMContentLoaded", initMap2);
  </script>
<% end %>
<div style="margin: 3rem">
  <%= form_with(model: lodging) do |form| %>
    <% if lodging.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% lodging.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <form>
      <%= form.hidden_field :user_id, class: "form-control", value: current_user.id %>

    <div class="mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_field :description, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :daily_fee, class: "form-label" %>
      <%= form.text_field :daily_fee, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :location, class: "form-label" %>
      <%= form.text_field :location, class: "form-control" %>
    </div>


    <div class="mb-3">
      <%= form.label :images, class: "form-label" %>
      <%= form.file_field :images, multiple: true, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :videos, class: "form-label" %>
      <%= form.file_field :videos, multiple: true, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :single_bed, class: "form-label" %>
      <%= form.number_field :single_bed, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :double_bed, class: "form-label" %>
      <%= form.number_field :double_bed, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :rooms, class: "form-label" %>
      <%= form.number_field :rooms, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :bathrooms, class: "form-label" %>
      <%= form.number_field :bathrooms, class: "form-control" %>
    </div>
    <div class="mb-3 form-check">
      <%= form.label :pets_accepted, class: "form-check-label" %>
      <%= form.check_box :pets_accepted, class: "form-check-input" %>
    </div>

    <div class="mb-3 form-check">
      <%= form.label :parking_lot,  class: "form-check-label" %>
      <%= form.check_box :parking_lot, class: "form-check-input" %>
    </div>

    <div class="mb-3 form-check">
      <%= form.label :breakfast_included,  class: "form-check-label" %>
      <%= form.check_box :breakfast_included, class: "form-check-input" %>
    </div>

    <div class="mb-3 form-check">
      <%= form.label :jacuzzi,  class: "form-check-label" %>
      <%= form.check_box :jacuzzi, class: "form-check-input" %>
    </div>

    <div class="mb-3 form-check">
      <%= form.label :gym,  class: "form-check-label" %>
      <%= form.check_box :gym, class: "form-check-input" %>
    </div>

    <div class="mb-3 form-check">
      <%= form.label :smoke_free,  class: "form-check-label" %>
      <%= form.check_box :smoke_free, class: "form-check-input" %>
    </div>
      <div class="field">
        <%= form.label :latitude %>
        <%= form.text_field :latitude %>
      </div>

      <div class="field">
        <%= form.label :longitude %>
        <%= form.text_field :longitude %>
      </div>
      <p>
      <div id="map2"></div>
      </p>

      <button type="submit" class="btn btn-outline-dark btn-lg btn-block">Submit</button>

    </form>
  <% end %>



</div>

