<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
      document.addEventListener("DOMContentLoaded", function(){
          initMap(<%=@lodging.latitude%>, <%=@lodging.longitude%>)
      });
  </script>
<% end %>
<div style="margin: 3rem">

  <div style="margin: 3rem">
    <p><h3><strong><%= @lodging.name %></strong></h3>

    <span>
      <%if can? :manage, :lodging %>
      <%= link_to 'Edit', edit_lodging_path(@lodging), class: "btn btn-outline-dark align-content-center float-end"%>
      <%end %>
      <%unless !user_signed_in?%>
      <%= link_to 'Back', lodgings_path, class: "btn btn-outline-dark align-content-center float-end", style: "margin-right: 5px"%>
      <%= link_to 'Write Review', new_review_lodging_path, class: "btn btn-outline-dark align-content-center float-end", style: "margin-right: 15px"%>
      <%= link_to 'Reserve', new_user_reservation_path(current_user), class: "btn btn-outline-dark align-content-center float-end", style: "margin-right: 15px"%>
      <%= link_to 'Contact Guest', new_user_message_path(current_user), class: "btn btn-outline-dark align-content-center float-end", style: "margin-right: 15px"%>
      <%else %>
       <%= link_to 'Back', lodgings_path, class: "btn btn-outline-dark align-content-center float-end", style: "margin-right: 5px"%>
        <%= link_to 'Write Review', new_review_lodging_path, class: "btn btn-outline-dark align-content-center float-end", style: "margin-right: 15px"%>
      <%end %>
     </span>
  </div>
  <p>
    <strong>Description:</strong>
    <%= @lodging.description %>
  </p>

  <p>
    <strong>Daily fee:</strong>
    <%= @lodging.daily_fee %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @lodging.location %>
  </p>

  <p>
    <strong>Images:</strong>
    <% (0...@lodging.images.count).each do |image| %>
        <%= image_tag(@lodging.thumbnail(image)) %>
    <% end %>

  </p>

  <p>
    <strong>Video:</strong>
    <% (0...@lodging.videos.count).each do |video| %>
      <%= video_tag(url_for(@lodging.videos[video]), controls:'') %>
    <% end %>
  </p>

  <p>
    <strong>Pets accepted:</strong>
    <%= @lodging.pets_accepted %>
  </p>

  <p>
    <strong>Parking lot:</strong>
    <%= @lodging.parking_lot %>
  </p>

  <p>
    <strong>Breakfast included:</strong>
    <%= @lodging.breakfast_included %>
  </p>

  <p>
    <strong>Single bed:</strong>
    <%= @lodging.single_bed %>
  </p>

  <p>
    <strong>Double bed:</strong>
    <%= @lodging.double_bed %>
  </p>

  <p>
    <strong>Rooms:</strong>
    <%= @lodging.rooms %>
  </p>

  <p>
    <strong>Bathrooms:</strong>
    <%= @lodging.bathrooms %>
  </p>

  <p>
    <strong>Jacuzzi:</strong>
    <%= @lodging.jacuzzi %>
  </p>

  <p>
    <strong>Gym:</strong>
    <%= @lodging.gym %>
  </p>

  <p>
    <strong>Smoke free:</strong>
    <%= @lodging.smoke_free %>
  </p>
  <p>
    <strong>Latitude:</strong>
    <%= @lodging.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= @lodging.longitude %>
  </p>

  <p>
  <div id="map"></div>
  </p>


</div>